/**
Bio External CSS Stylesheet
 **/

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-image: url("https://i.imgur.com/0ifQmvB.png");
  }
  
  .header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    border-bottom: 1px #cccccc solid;
    overflow: hidden;
    background-color: #ffffff;
  }

  .Name {
      background-color: #4aaaa5;
      padding: 5px;
      width: 25%;
      float: left;
      margin-left: 15%;
      position: absolute;
  }

  h1{
      font-size: 24px;
      color: #ffffff;
      text-align: center;
  }

  .header-links {
      color: #333;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      float: right;
      width: 25%;
      margin-right: 25%;
      display: block;
  }

  a {
    color: grey;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    text-decoration: none;
  }
  
  #about {
      padding: 20px;
  }

  #portfolio {
      padding: 20px;
  }

  #contact {
      padding: 20px;
  }

  hr {
    display: inline;
    size: 1px;
    margin-left: 2px;
    margin-right: 10px;
    overflow: hidden;
    color: #b5b5b5;     
  }
 
  .about-me {
      width: 960px;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
      border: 1px #dddddd solid;
      background-color: #ffffff;
  }

  h2 {
      color: #4aaaa5;
      font-size: 24px;
      padding: 20px;
  }

  p {
      padding: 20px;
      font-size: 14px;
  }

  .bio-pic {
      float: left;
      padding: 10px;
  }

  .footer {
      background-color: #666666;
      height: 60px;
      width: 100%;
      position: fixed;
      bottom: 0px;
      border-top: 6px #4aaaa5 solid;
  }

  .portfolio {
    width: 960px;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px #dddddd solid;
    background-color: #ffffff;
    position: relative;
  }

  .p1{
      width: 200px;
      height: 150px;
      background-image: url(https://place-hold.it/200x150/);
      margin: 50px;
      position: absolute;

  }

  .p2{
    width: 200px;
    height: 150px;
    background-image: url(https://place-hold.it/200x150/);
    margin: 50px;
    position: absolute;
}

.p3{
    width: 200px;
    height: 150px;
    background-image: url(https://place-hold.it/200x150/);
      margin: 50px;
}

.p4{
    width: 200px;
    height: 150px;
    background-image: url(https://place-hold.it/200x150/);
    margin: 50px;
      
}

.p5{
    width: 200px;
    height: 150px;
    background-image: url(https://place-hold.it/200x150/);
    margin: 50px;
      
}

#description1 {
    background-color: #4aaaa5;
    color: white;

}

#description2 {
    background-color: #4aaaa5;
    color: white;
    
}

#description3 {
    background-color: #4aaaa5;
    color: white;
    
}

#description4 {
    background-color: #4aaaa5;
    color: white;
    
}

#description5 {
    background-color: #4aaaa5;
    color: white;
    
}